.center
{
    display: flex;
    justify-content: center;
}

.top-section-anniverssaire
{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-L2);
}

.A-child-5
{
    position: relative;
    top: -7rem;
    right: 0.5rem;
} 